<div class="w-screen h-screen overflow-scroll select-none"
     [style.background]="statusIndicators"
     (click)="this.looper.reset()"
>
  <div class="flex flex-col gap-0.5">
    @for (row of indices; let i = $index; track i) {
      <div class="flex flex-row gap-0.5">
        @for (_ of row; let j = $index; track j) {
          <div class="relative" (drop)="onDrop(i, j)">
            <div
              class="flex-none w-[40px] h-[40px] flex items-center justify-center text-[16x] text-center font-bold
            [&:not(:has(*:hover)):hover]:bg-gray-400!"
              draggable="true"
              [innerHTML]="CellContentAt(i, j)"
              [style.background-color]="cellColorAt(i, j)"
              [style.color]="textColorAt(i, j)"
              (dragstart)="onDragStart(i, j)"
              (dragover)="$event.preventDefault()"
            ></div>
            @if (paused && isDst(i, j)) {
              @for (operation of operations; track operation; let idx = $index) {
                <p-button [icon]="iconForOperation(operation)" [rounded]="true" severity="secondary" size="large"
                          draggable="false"
                          class="absolute left-1/2 top-1/2 z-10 origin-top-left"
                          [style.transform]="transformForButtonAt(idx)"
                          (click)="recordAndPlayImmediately(operation); $event.stopPropagation()"
                />
              }
            }
          </div>
        }
      </div>
    }
  </div>
</div>
