<div class="w-screen h-screen overflow-scroll select-none"
     [style.background]="statusColor"
>
  <table class="table-fixed w-0"
         (click)="this.looper.reset()"
  >
    @for (row of indices; let i = $index; track i) {
      <tr>
        @for (_ of row; let j = $index; track j) {
          <td
            class="w-[80px] h-[24px] border-2 border-[transparent] text-[14px] text-center transition-all [&:not(:has(*:hover)):hover]:bg-gray-700! [&:not(:has(*:hover)):active]:bg-gray-400! font-bold relative"
            draggable="true"
            [style.background-color]="cellColorAt(i, j)"
            [style.color]="textColorAt(i, j)"
            (dragstart)="looper.setSrc(i, j)"
            (dragover)="$event.preventDefault()"
            (drop)="looper.setDst(i, j)"
          >
            {{ dataAt(i, j) }}
            @if (paused && isDst(i, j)) {
              <p-card class="absolute left-[50px] top-[50px] z-10">
                <div class="flex flex-row gap-[5px]">
                  @for (group of operations; track group) {
                    <div class="w-[80px] flex-none flex flex-col gap-[5px]">
                      @for (operation of group; track operation) {
                        <p-button [label]="operation" severity="primary" variant="outlined"
                                  (click)="selectOperation(operation); $event.stopPropagation()" class="w-full"
                                  styleClass="w-full"/>
                      }
                    </div>
                  }
                </div>
              </p-card>
            }
          </td>
        }
      </tr>
    }
  </table>
</div>
